* {
   margin: 0;
}

body {
   width: 100%;
   overflow: hidden;
}

.nigth-block {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
   opacity: 0.0;
   z-index: 5;
}

.wrapper-container {
   background-image: url(./images/road.png);
   background-repeat: no-repeat;
   background-repeat: repeat-x;
   background-size: cover;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: end;
}

.current-time-sun {
   width: 150px;
   height: 150px;
   background-image: url(./images/sun.png);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 87%;
   top: 3%;
   z-index: 20;
   animation-iteration-count: 1;
}

.current-time-moon {
   width: 150px;
   height: 150px;
   background-image: url(./images/moon.png);
   background-repeat: no-repeat;
   background-size: cover;
   display: none;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 87%;
   top: 3%;
   z-index: 20;
}

.third-car-block {
   height: 250px;
   width: 300px;
   position: relative;
   bottom: 45%;
   display: flex;
   align-items: center;
   background-color: transparent;
   animation: car-driving-third 11s infinite;
}

.third-car {
   height: 250px;
   width: 250px;
}

.car-light-third {
   width: 40px;
   height: 0;
   opacity: 0.5;
   box-shadow: 102px 0px 100px 80px white;
   z-index: 100;
}

.fourth-car-block {
   height: 250px;
   width: 300px;
   position: relative;
   bottom: 200%;
   display: flex;
   align-items: center;
   background-color: transparent;
   animation: car-driving-fourth 6s infinite;
}

.fourth-car {
   height: 200px;
}

.car-light-fourth {
   width: 40px;
   height: 0;
   opacity: 0.5;
   box-shadow: 102px 0px 100px 95px white;
   z-index: 100;
}

.first-car-block {
   height: 250px;
   width: 250px;
   position: relative;
   left: 85%;
   bottom: 20%;
   display: flex;
   align-items: center;
   background-color: transparent;
   animation: car-driving-first 6s infinite;
}

.first-car {
   height: 200px;
}

.car-light-first {
   width: 40px;
   height: 0;
   opacity: 0.5;
   box-shadow: -332px 0px 100px 85px white;
   z-index: 100;
}

.second-car-block {
   height: 250px;
   width: 250px;
   position: relative;
   left: 90%;
   bottom: 200%;
   display: flex;
   align-items: center;
   background-color: transparent;
   animation: car-driving-second 4s infinite;
}

.second-car {
   height: 200px;
}  

.car-light-second {
   width: 160px;
   height: 20px;
   opacity: 0.5;
   box-shadow: -362px 2px 100px 84px rgba(255, 255, 255, 0.7);
   z-index: 110;
}

.current-time-text {
   font-size: 18px;
   font-weight: bold;
   color: rgb(115, 37, 189);
   font-family: 'Orbitron', sans-serif;
}

.current-time-moon-text {
   font-size: 18px;
   font-weight: bold;
   color: black;
   font-family: 'Orbitron', sans-serif;
}

.road-block-above {
   background-color: transparent;
   width: 100%;
   height: 150px;
}
.road-block-below {
   background-color: transparent;
   width: 100%;
   height: 150px;
}

@keyframes car-driving-first {
   0% {
      transform: translateX(150%);
   }
   100% {
      transform: translateX(-1900%);
   }
}

@keyframes car-driving-second {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-1500%);
   }
}

@keyframes car-driving-third {
   0% {
      transform: translateX(-1000%);
   }
   100% {
      transform: translateX(2000%);
   }
}

@keyframes car-driving-fourth {
   0% {
      transform: translateX(-700%);
   }
   100% {
      transform: translateX(1300%);
   }
}

@keyframes sun-hide {
   0% {
      transform: translateY(0);
      opacity: 1;
   }
   50% {
      opacity: 0.5;
      z-index: 1;
   }
   98% {
      opacity: 0.2;
      z-index: -10;
   }
   100% {
      transform: translateY(120%);
      opacity: 0;
      z-index: -100;
   }
}

@keyframes moon-out {
   0% {
      transform: translateY(120%);
      opacity: 0.1;
   }
   50% {
      opacity: 0.2;
   }
   98% {
      opacity: 0.9;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}